{% extends 'gestion/base.html' %}
{% block title %}Nouvelle Réception{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-center mb-4">Ajouter une Réception</h3>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Produit</label>
            {{ form.produit }}
        </div>
        <div class="mb-3">
            <label class="form-label">Dépôt</label>
            {{ form.depot }}
        </div>
        <div class="mb-3">
            <label class="form-label">Quantité reçue</label>
            {{ form.quantite }}
        </div>
        <button type="submit" class="btn btn-primary w-100">Enregistrer</button>
    </form>
</div>
{% endblock %}
