{% extends 'gestion/base.html' %}

{% block title %}Liste des Ventes{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="text-end mt-3">
        <a href="{% url 'dashboard_vendeur' %}" class="btn btn-success">
            <i class="bi bi-file-earmark-arrow-down"></i> Accueil</a>  
        <a href="{% url 'ajouter_vente' %}" class="btn btn-success">
            <i class="bi bi-file-earmark-arrow-down"></i> Ajouter une Vente
            
        </a>  </div>
    <a href="{% url 'exporter_ventes_variete' 'Uree' %}" class="btn btn-outline-primary">
    Exporter ventes Uree
    </a>
    <a href="{% url 'exporter_ventes_variete' 'Pomme de terre blanche' %}" class="btn btn-outline-primary">
    Exporter ventes Pomme de terre Blanche
    </a>
    <a href="{% url 'exporter_ventes_variete' 'Pomme de terre Rouge' %}" class="btn btn-outline-primary">
    Exporter vente Pomme de terre Rouge
    </a>  </div>
    <div class="text-end mt-3"></div>
    <a href="{% url 'exporter_ventes_client_pdf' 'Sadidal SARL' %}" class="btn btn-outline-primary">
    Exporter ventes de Sadidal
</a>
 <a href="{% url 'exporter_ventes_client_pdf' 'Swami Agri' %}" class="btn btn-outline-primary">
    Exporter ventes de Swami Agri
</a>



    </div>
    <h3 class="mb-4 text-center">Liste des Ventes</h3>
    <form method="get" class="row mb-3">
    <div class="col-md-6">
        <input type="text" name="client" value="{{ client_nom }}" class="form-control" placeholder="Rechercher par nom du client">
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">🔍 Rechercher</button>
    </div>
    <div class="col-md-2">
        <a href="{% url 'liste_ventes' %}" class="btn btn-secondary w-100">↺ Réinitialiser</a>
    </div>
</form>


    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>N°</th>
                <th>Date</th>
                <th>Client</th>
                <th>Vendeur</th>
                <th>Produit</th>
                <th>Montant total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vente in ventes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ vente.date_vente|date:"d/m/Y H:i" }}</td>
                <td>{{ vente.client.nom }}</td>
                <td>{{ vente.vendeur }}</td>
               <td>
                    {% for ligne in vente.lignes.all %}
                        <li>{{ ligne.produit.variete}} ({{ ligne.quantite }} sacs)</li>
                    {% endfor %}

                    </td>
                    
                    <td>{{ vente.montant_total|floatformat:2 }} F</td>
                <td>
                    <a href="{% url 'facture_vente' vente.id %}" class="btn btn-sm btn-primary">🧾 Facturer</a>
                    <a href="{% url 'modifier_vente' vente.id %}" class="btn btn-sm btn-warning">✏️ </a>
                    <a href="{% url 'supprimer_vente' vente.id %}" class="btn btn-sm btn-danger"
                       onclick="return confirm('Supprimer cette vente ?');">🗑️</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Aucune vente enregistrée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
</div>
{% endblock %}
